#start camera server as daemon
service qcamerasvr /system/vendor/bin/mm-qcamera-daemon
    override
    class late_start
    user camera
    group camera system inet input graphics
    setenv LD_PRELOAD "libshim_pthreadts.so:libshim_mutexdestroy.so"
