on enable-low-power
    start qcom-post-boot

    # Enable power efficient workqueue
    write /sys/module/workqueue/parameters/power_efficient Y

    # Set Memory parameters
    write /proc/sys/vm/swappiness 100
    swapon_all /vendor/etc/fstab.qcom

on charger
    # Offline all cores other than CPU0
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

on property:init.svc.recovery=running
    trigger enable-low-power

on property:sys.boot_completed=1
    trigger enable-low-power
    setprop sys.io.scheduler bfq
