on boot
    # Update foreground and background cpusets
    # Reserve CPU 7 for the top app
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/system-background/cpus 4-7
    write /dev/cpuset/top-app/cpus 0-7

on enable-low-power
    start qcom-post-boot

    # Set Scaling Frequency
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1344000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 422400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1094400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 345600

    # Enable power efficient workqueue
    write /sys/module/workqueue/parameters/power_efficient Y

    # Set Memory parameters
    write /proc/sys/vm/swappiness 100
    swapon_all /vendor/etc/fstab.qcom

    # Turn on fsync
    write /sys/module/sync/parameters/fsync_enabled Y

    # Work against lineage-governor.rc
    chown root root /dev/cpuctl/cpu.notify_on_migrate

on charger
    # Offline all cores other than CPU0
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

service qcom-post-boot /vendor/bin/init.qcom.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:init.svc.recovery=running
    trigger enable-low-power

on property:sys.boot_completed=1
    trigger enable-low-power
    setprop sys.io.scheduler bfq
